<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Jared Suasin - Portfolio" />
		<meta name="keywords" content="Jared Suasin, visual design, interaction design, ui design, ux design, product design, front-end development, ux engineering">
		<meta property="og:title" content="Jared Suasin - Portfolio"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="https://www.jaredsuasin.com/images/portfolio-cover.png"/>
		<meta property="og:url" content="https://www.jaredsuasin.com/"/>
		<meta property="og:description" content="Online portfolio of projects I've worked on. Take a look to see what I've been up to!"/>
		
		<title>I'm Jared Suasin, nice to meet you!</title>
		
		<link href="css/main.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
		<link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" charset="utf-8" />

		<!--<script src="jquery-1.11.0.js"></script>-->
	
		<!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons//favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons//favicon-16x16.png">
        <link rel="manifest" href="/favicons//site.webmanifest">
        <link rel="mask-icon" href="/favicons//safari-pinned-tab.svg" color="#45af6e">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
			

	</head>
	<body onload="animateHTML().init();">


		<div class="header-container">

			<div class="landing-container">
				<div class="landing-greeting">
					<h2>Hello! My name is</h2>
				</div>
			
				<h1 class="landing-name strike-name"><a href="/about"><span>JARED SUASIN</span>.</a></h1>

				<div class="landing-description">
					<p>I’m a product designer and front-end developer who loves crafting impactful end-to-end user experiences for complex problems. Currently I'm leading design for COVID-19 relief efforts at <a target="_blank" href='https://www.zillowgroup.com/'>Zillow Group</a> in San Francisco.</p>
				</div>

				<!--<div class="link-container">
					<a id="work"><span>Take a look at what I've been working on</a> <span style="font-size: 1.2rem"> &#8628;</span>
				</div>
				<div class="link-container">
					<img class="system-icon" src="images/icons/down-arrow-white.svg"><a id="work"><span>Take a look at what I've been working on</a> <span style="font-size: 1.2rem"> </span>
				</div>-->
				<div class="pull-container">
					<div class="pull-icon-container">
						<img class="pull-icon" src="images/icons/down-arrow-white.svg">
					</div>

					<div class="pull-text">
						<p><a id="work">Take a look at what I've been working on</a></p>
					</div>
				</div>
			</div><!-- landing-container -->

			<!-- Header -->
			<div id="navbar" class="hidden navbar-container">

				<div id="full-name" class="name-container">
					<a class="strike-name" href="/"><h1><span>JARED SUASIN</span></h1></a>
				</div>

				<div id="initials" class="name-container">
					<a class="strike-name" href="/"><h1><span>JS</span></h1></a>
				</div>

				<ul class="nav-container">
					<li id="resume" class="nav-item"><a class="strike" target="_blank" href="/resume"><span>Resume</span></a></li>
					<li id="about" class="nav-item"><a class="strike" href="/about"><span>About</span></a></li>
					<li id="work" class="nav-item"><a class="active" href="/#navbar"><span>Work</span></a></li>
				</ul>
			</div>
		</div>

		<div class="page-container">
			<div class="project-block-container">
				{{#each projects}}
					<div class="project-row-container">

						<div class="project-row-info-container-desktop">
							<div class="project-row-info">
								<h2><a href="/{{url}}">{{title}}</a></h2>
								<h6 class="project-type">{{type}}</h6>
								<h6>{{{tags}}}</h6>
							</div>
						</div>
						<div class="project-row-image-container">
							<a href="/{{url}}">
								<div class="project-row-image" style="background-image:url({{src-cover}});background-position-y:{{position-y-home}};background-position-x:{{position-x-home}};"></div>
							</a>
						</div>
						<div class="project-row-info-container-mobile">
							<div class="project-row-info">
								<h2><a href="/{{url}}">{{title}}</a></h2>
								<h6 class="project-type">{{type}}</h6>
								<h6>{{{tags}}}</h6>
							</div>
						</div>

					</div>
				{{/each}}
			</div>


		
				<!-- Footer -->
				<div class="footer-container">

					<div id="copyright">
						<h2>Built with ♥ by Jared Suasin &copy 2020</h2>
					</div>

					<div class="icon-container">
						<ul>
							<li>
								<a href="mailto:suasin.ja@gmail.com" title="Mail">
									<img src="images/icons/email-white.svg">
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/in/jared-suasin-982a20133" target="_blank" title="LinkedIn">
									<img src="images/icons/linkedin-logo-white.svg">
								</a>
							</li>
							<li>
								<a href="https://twitter.com/JaredSuasin" target="_blank" title="Twitter">
									<img src="images/icons/twitter-logo-white.svg">
								</a>
							</li>
							<li>
								<a href="https://github.com/alphyne" target="_blank" title="GitHub">
									<img src="images/icons/github-logo-white.svg">
								</a>
							</li>
						</ul>
					</div>
				</div> <!-- footer-container -->
			
		</div> <!-- page-container -->

		<script type="text/javascript" src="js/portfolio.js"></script>
	</body>
</html>

