{{#with project}}
<!DOCTYPE html>
<html>
<head>
<title> {{title}} | Jared Suasin</title>
<link href="/css/portfolio.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600i|Poppins:600i|Raleway:600i" rel="stylesheet">

</head>
<body>

<div class="background">
	
		
	<!-- Name -->
	<div class="nameContainer">
		<a class="name">{{name}}</a>
	</div>


	<!-- Navbar -->
	
	<ul id="navBar">
		<li><a href="/resume"><span>Resume</span></a></li>
		<li><a href="/about"><span>About</span></a></li>
		<li><a href="/"><span>Work</span></a></li>
	</ul>

	
	<!-- Project content -->


	<!-- Cover photos -->
	{{#each covers}}
		<img class="{{class}}" src="{{src}}">
	{{/each}}

	<!-- Project description -->
	<div class="descriptionContainer">
		<p>{{description}}</p>

		<!-- Project information -->
		{{#each info}}
			<div class="infoContainer">
				<h4>{{title}}</h4>
				<p>{{content}}</p>
			</div>
		{{/each}}
	</div>

	<!-- Project blocks -->
	{{#each blocks}}
		<div class="block">
			<div class="blockContainer">
					
				<div class="blockTitle">
					<h3>{{title}}</h3>
				</div>

				<div class="blockContent">
				<!-- If text -->
				{{#if text}}
						<p>{{content}}</p>
				{{/if}}

				<!-- If image -->
				{{#if image}}
						<img class="{{class}}" src="{{src}}">
				{{/if}}
				{{#if caption}}
					{{{caption}}}
				{{/if}}

				<!-- If link -->
				{{#if link}}
						<p><a href={{linkurl}}>{{content}}</a></p>
				{{/if}}
				</div>
			</div>
		</div>
	{{/each}}

	<!-- footer -->
	<div class="footer">


	</div>
</div>

<script src="/js/portfolio.js"></script>

</body>
</html>
{{/with}}