{{#with project}}
<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Meta tags -->
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Jared Suasin - {{title}}" />
		<meta name="keywords" content="Jared Suasin, visual design, interaction design, ui design, ux design, product design, front-end development, ux engineering">
		<meta property="og:title" content="{{title}}">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://jaredsuasin.com/images/portfolio-cover.png">
		<meta property="og:url" content="http://jaredsuasin.com/">
		<meta property="og:description" content="Jared Suasin - {{title}}">	
		
		<title>Jared Suasin &mdash; {{title}}</title>
		<link href="css/main.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600" rel="stylesheet">
		<link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" charset="utf-8" />
	
		<!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons//favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons//favicon-16x16.png">
        <link rel="manifest" href="/favicons//site.webmanifest">
        <link rel="mask-icon" href="/favicons//safari-pinned-tab.svg" color="#45af6e">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
	
	</head>
	<body style="background-color:{{background-color}}">

		<div class="header-container">
			
			<!-- Header -->
			<div id="navbar">
				<!--<div id="full-name" class="name-container">
					<h1 class='notActive'><a href="/">J</a></h1>
					
				</div>-->

				<!--<div class="logo-container">
					<a href="/"><img src="images/logo4-02.png"></a>
				</div>-->

				<div class="name-container">
					<a class="notActive" href="/"><h1><span>JARED SUASIN</span></h1></a>
				</div>

				<div id="initials" class="name-container">
					<!--<h1><a href="/">JS</a></h1>-->
					<img src="images/logo-4-02.png">
				</div>

				<ul class="nav-container">
					<li id="resume" class="nav-item"><a class="notActive" href="/resume"><span>Resume</span></a></li>
					<li id="about" class="nav-item"><a class="notActive" href="/about"><span>About</span></a></li>
					<li id="work" class="nav-item"><a class="notActive" href="/#navbar"><span>Work</span></a></li>
				</ul>
			</div>
		</div>

			<!-- Project content -->
			<div class="project-landing" style="background-image:url({{src-cover}}); background-position-y:{{position-y-project}}">

			</div>
		<div class="page-container">

			<div class="project-container">
				

				<!-- Project title -->
				<div class="project-name">
					<h1>{{title}}</h1>
					<h4>{{type}}</h3>
				</div>

				<!-- Project description -->
				<div class="project-description">
					<p>{{{description}}}</p>
				</div>

				<!-- Project details -->
				<div class="project-details-container">
					
					<div class="project-details-left">
						{{#each info-block-1}}
						<div class="project-detail-item">
							<h5>{{title}}</h5>
							<h6>{{{content}}}</h6>
						</div>
						{{/each}}
					</div>

					<div class="project-details-right">
						{{#each info-block-2}}
						<div class="project-detail-item">
							<h5>{{title}}</h5>
							<h6>{{{content}}}</h6>
						</div>
						{{/each}}
					</div>
				</div>

				<!-- Content blocks -->
				{{#each blocks}}
					<div class="block">
						<div class="block-container">
								
							<!-- Content block header -->
							<h2>{{header}}</h2>

							<!-- Content block sections -->
							{{#each sections}}
								<div class="section-container">

									<!-- If wide content -->
									{{#if column-one}}

										<!-- Section subheader -->
										{{#if subheader}}
											<h3>{{title}}</h3>
										{{/if}}

										<!-- Image -->
										{{#if image}}
											<div class="media-container">
												<div class="boxed-content">
													<img src="{{src}}">

													{{#if image-2}}
														<img src="{{src-2}}">
													
														{{#if image-3}}
															<img src="{{src-3}}">
														{{/if}}
													{{/if}}
												

												{{#if caption}}
													<div class="image-caption">
														<p class="caption">{{caption-content}}</p>
													</div>
												{{/if}}
												</div>
											</div>
										{{/if}}

										<!-- Three Images -->
										{{#if image-three}}
											<div class="media-container boxed-content">
												<div class="image-three-container">
													<img src="{{src-1}}">
													<img src="{{src-2}}">
													<img src="{{src-3}}">
												</div>

												{{#if caption}}
													<div class="image-caption">
														<p>{{caption-content}}</p>
													</div>
														
												{{/if}}
											</div>
										{{/if}}

										<!-- Quote -->
										{{#if quote}}
											<div class="media-container boxed-content quote">
												<p>{{{content}}}</p>
											</div>

										{{/if}}

										<!-- Boxed content -->
										{{#if boxed-content}}
											<div class="media-container boxed-content list">
												<p>{{{content-1}}}</p>
												<p>{{{content-2}}}</p>
											</div>
										{{/if}}

										<!-- Bullet list -->
										{{#if bullet-list}}
											<div class="media-container boxed-content list">
												<ul>{{{content}}}</ul>
											</div>
										{{/if}}

										<!-- Text -->
										{{#if text}}
											<p>{{{content}}}</p>
										{{/if}}

										<!-- Video -->
										{{#if video}}
											<div class="media-container boxed-content">
												{{{content}}}
											</div>
										{{/if}}

									{{/if}}

									<!-- If columned content -->
									{{#if column-two}}

										<!-- Section subheader -->
										{{#if subheader}}
											<h3>{{title}}</h3>
										{{/if}}

										{{#if image}}

											<div class="image-row-container">
												<div class="image-caption-container">
													<div class="image-caption">
														{{#if caption}}
															<p>{{caption-content}}</p>
														{{/if}}
													</div>
												</div>
												
												<div class="image-container">
													<img src="{{src}}">
												</div>
											</div>
										{{/if}}

										<!-- Text -->
										{{#if text}}
											<p class="text-right">{{{content}}}</p>
										{{/if}}
									{{/if}}
								</div>

							{{/each}}

						</div>
					</div>
				{{/each}}

			</div> <!-- project-container -->

			<!-- Prev/Next Project Nav -->
			<div class="project-nav-container">

				<h3>
					{{#if previous}}
						&#10229;
						{{{previous-project}}}
					{{/if}}

					{{#if previous-and-next}}
						<span class="separator">
							&#8729;
						</span>
					{{/if}}

					{{#if next}}
						{{{next-project}}}
						&#10230;
					{{/if}}
				</h3>
						
			</div>

			<!-- Footer -->
			<div class="footer-container">

				<div id="copyright">
					<h2>&copy Jared Suasin 2019</h2>
				</div>

				<div class="icon-container">
					<ul>
						<li>
							<a href="mailto:suasin.ja@gmail.com" title="Mail">
								<img src="images/icons/email-white-2.svg">
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/jared-suasin-982a20133" title="LinkedIn">
								<img src="images/icons/linkedin-logo-white-01.svg">
							</a>
						</li>
						<li>
							<a href="https://github.com/alphyne" title="GitHub">
								<img src="images/icons/github-logo-white-01.svg">
							</a>
						</li>
					</ul>
				</div>
			</div> <!-- footer-container -->

		</div> <!-- page-container -->

</div>

<script src="/js/portfolio.js"></script>

</body>
</html>
{{/with}}